.loading_admin{
		width: 35px;
		height: 35px;
		text-align: -webkit-center;
}

.loading_admin1{
		width: 35px;
		height: 35px;
		text-align: -webkit-center;
}

.from_per{
	display: block !important;
}

.reg_login100-form{
	width: 100%;
}

.reg_admin_table{
	    text-align: center;
}