	.loading{
	   border-radius:150px;
	   border:6px solid #797979;
	   border-top-color:rgba(0,0,0,0.3);
	   box-sizing:border-box;
	   position: relative;
	   animation:vina-loading 1.2s linear infinite;
	   -webkit-animation:vina-loading 1.2s linear infinite;
	   z-index: 1;
	   display: none;
	   }
	   .login_loading{
		   width: 50px;
		   height: 50px;
	   }
	   @keyframes vina-loading{
	   0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	   100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
	   }
	   @-webkit-keyframes vina-loading{
	   0%{-webkit-transform:rotate(0deg)}
	   100%{-webkit-transform:rotate(360deg)}
   }

   .limiter {
    		height: 50%;
    }.custom_dropdown{
	width: 208px;
    text-align: -webkit-center;
}

.custom_dropdown .d-md-inline-block{
	padding-top: 10px;
}

.perfil_loading{
	left: 34px;
	width: 35px;
	height: 35px;
}

.contra_loading{
	left: 6px;
	width: 35px;
	height: 35px;
}.loading_admin{
		width: 35px;
		height: 35px;
		text-align: -webkit-center;
}
.from_per{
	display: block !important;
}

.reg_login100-form{
	width: 100%;
}

.reg_admin_table{
	    text-align: center;
}#participantes_table_filter{
          text-align: left;
        }

div .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
     background-color: transparent;
     background: transparent;
     box-shadow: none;
}
div .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
     border: none;
     background-color: transparent;
     background: transparent;
}

div .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em; 
}

div .page-item {
     box-shadow: none;
}
.participantes_table_wrapper{
  .padding-top: 35px;
}
.participantes_lista_acciones{
	display: flex;
}

#participantes_table_wrapper{
	padding-top: 30px;
}

@media only screen and (max-width: 1225px) {
  .participantes_div_tab{
		overflow-x: auto;
        }
}
.inscrito_1{
	color: gray;
}
.inscrito_2{
	color: #ef8600;
}
.inscrito_3{
	color: green;
}
.inscrito_4{
	color: red;
}

.praticipantes_nav .nav-item {
    margin-bottom: -2px;
 }
 .praticipantes_nav .active{
 	border-bottom: red !important;
 }

  .praticipantes_nav a:hover {
    text-decoration: none;
    color: black;
	}


 @media only screen and (max-width: 417px) {
 .praticipantes_nav li{
	width: 100%;
	text-align: center;
 }

 .praticipantes_nav .active{
 	background-color: #007bff !important;
    border: none;
    color: white !important;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;

    
 }

 }

 @media (min-width: 992px){
	.edt_modal .modal-lg {
	    max-width: 1000px;
	}
}
.edt_modal .modal-content{
	padding: 25px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}


.btn_update_participantes{
	margin-top: 20px;
}

.edit_sub .form-group.col-md-6:after{
	background: white !important;
}

.upd_participante_loading{
	width: 35px;
	height: 35px;
}
.load_pad{
  	-webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

.participantes_lista_acciones .btn-outline-primary:hover {
    color: #fff;
    background-color: #42a202;
    border-color: #42a202;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);
}

.participantes_lista_acciones .pul {
    color: #fff;
    background-color: #42a202;
    border-color: #42a202;
    box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(0,123,255,.25);
}/*	@import "~../../node_modules/font-awesome/scss/font-awesome.scss";
	@import "~../../node_modules/bootstrap/dist/css/bootstrap.css";
	@import "~../../resources/css/template/shards-dashboards.1.1.0.css";
	@import "~../../resources/css/template/extras.1.1.0.min.css";
	@import "~../../resources/css/template/login1.css";
	@import "~../../resources/css/template/login2.css";
	@import '~./../../node_modules/datatables/media/css/jquery.dataTables.min.css';*/

